* {
  font-family: 'Roboto', 'Open Sans' ,sans-serif;
  box-sizing: border-box;
} 

body{
  background-color: #F4F4F8;
}

.content{ 
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #101728;
  text-align: center;
  padding: 0.5rem ;
  margin: 0.5rem ;
  border-radius: 1rem;
}